%p.normal
  %label{ :for => 'irccat_notifier_host' } Send to host
  %input.text#irccat_notifier_host{ :name => 'notifiers[IrcCat][host]', :type => 'text', :value => config['host'] || '127.0.0.1' }
  %label{ :for => 'irccat_notifier_port' } Send to port
  %input.text#irccat_notifier_port{ :name => 'notifiers[IrcCat][port]', :type => 'text', :value => config['port'] || 5678 }
